/* 主页面 */
#root{
  height: 100vh;
  position: relative;
  font-size: 0.28rem;
}
.main-layout {
  height: 100%;
  >.container{
    height: calc(100vh - 50px);
  }
}
.bottom-wrap{
  position: fixed;
  width: 100%;
  bottom:0;
}





.y-box{
  padding: 0.3rem 0;
  margin-top: 0.3rem;
  background: #fff;
}
.y-box-title{
  .am-icon{color: orangered;vertical-align: middle;}
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.36rem;
}

